.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  margin: 0;
  padding: 0;
  background-color: #dae2f1;
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.webbody{
  height: 100vh;
  width: 100vw;
}
.headersection{
  /* position: fixed; */
  width: 100vw;
  height: 150px;
  background-color: white;
}
.logo{
  display: flex;
  justify-content: start;
  position: relative;
  top: 10px;
  width: 100%;
  /* background-color: red; */

}
.searchform{
  /* background-color: black; */
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 50%;
  /* background-color: red; */
  margin-left: 50px;
}
.bodyimage{
  width: 100vw;
  /* height: 90%; */
}
.logoimage{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto; /* Center horizontally within the flex container */
}
.logoimg{
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self:center;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.options:hover{
  color: red;
}
.headeroptions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  text-align: start;
  width: 100%;
  text-decoration: none;
  color: white;
  /* background-color: black; */
  position: relative;
  top: 40px;
}
.bodyimg{
  height: 100%;
  width: 100%;
}
.jjehfjnfjd{
  width: 80vw;
}
.promotionalvideo {
  width: 100vw;
  height: 600px;
  object-fit: cover; /* This ensures the video covers the entire area while maintaining its aspect ratio */
}
.dkjkvdv{
  width: 100vw;
  height: 500px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  
}
.ddkvmdv{
  margin-top: 30px;
  font-size: 30px;
}
.dhifjkfjlf {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start; /* Align items to the start of the container */
  align-items: center;
  flex-direction: row;
  /* gap: 20px; */
  overflow-x: auto; /* Allows horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical scrolling */
}
.rjkhgjgmg{
  background-color: red;
  width: 100vw;
  height: 100px;
  position: relative;
  top: 50px;
}
.dhifjkfjlf::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
.items {
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  width: 100px;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid yellow;
  /* background-color: grey; */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 10px;
  text-decoration: none;
  flex-shrink: 0; /* Prevents the items from shrinking */
}

@media screen and (max-width: 1439px) {
  .headeroptions{
    display: none;
  }
  .headersection{
    height: 75px;
  }
  .logoimg{
    height: 50px;
  }
  .bodyimg{
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  .headersection{
    height: 75px;
  }
  .logoimg{
    height: 50px;
  }
  
}
.gallery{
  height: 300px;
  /* width: 300px; */
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  /* background-color: green; */
}
.newstockimages{
  height: 300px;
  /* width: 300px; */
}
.newstockimages:hover{
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
}